
<div class="card center padding">
  <h4><%= @user.name %></h4>
  <p>username: @<%= @user.username %></p>
  <p>Bio: <%= @user.bio %></p>
  <p>Link: <%= @user.link %></p>
  <%= link_to 'Follow', '#' %> |
  <%= link_to 'Back', :back %>
</div>

