
<% unless @requests.empty? %>
  <h6>Requests</h6>
  <ul>
    <% @requests.each do |requested| %>
      <li>
        <div class="card grid-3">
          <%= cl_image_tag requested.follower.image, class: 'thumbnail-pic' %>
          <%= link_to requested.follower.name, requested.follower, class: 'list-item padding' %>
          <div class="inline-div">
            <%= button_to 'Accept', friend_path(requested.follower), method: :get, class: 'darkred btn-small' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>


<h3>Friends List</h3>

<% if @confirmed.empty? %>
  <p>No friends found</p>
<% else %>
  <ul>
    <% @confirmed.each do |f| %>
      <li>
        <div class="card grid-3">
          <%= cl_image_tag f.follower.image, class: 'thumbnail-pic' %>
          <%= link_to f.followed.name, f.followed, class: 'list-item padding' %>
          <div class="inline-div padding-less">
            <%= button_to 'Unfriend', unfriend_path(f.followed), method: :delete, class: 'center-btn darkred accent-2 waves-light btn-small' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>


<% unless @pending.empty? %>
  <p>Your pending Friend Requests</p>
  <ul>
    <li>
      <% @pending.each do |f| %>
        <div class="card grid-3">
          <%= cl_image_tag f.followed.image, class: 'thumbnail-pic' %>
          <%= link_to f.followed.name, f.followed, class: 'list-item padding' %>
          <div class="inline-div">
            <p class="">Pending</p>
            <span class="padding-less">
              <%= button_to 'Cancel', unfriend_path(f.followed), method: :delete, class: 'darkred accent-2 waves-light btn-small center-btn' %>
            </span>
          </div>
        </div>
      <% end %>
    </li>
  </ul>
<% end %>
