<nav>
  <ul>
    <%# Home %>
    <li>
      <%= link_to 'Home', '/' %>
    </li>

    <%# If Logged In%>
    <% if user_signed_in? %>
      <%# Wishlist %>
      <li>
        <%= link_to 'Wishlist', gifts_path %>
      </li>
      <%# Friends %>
      <li>
        <%= link_to 'Friends', friends_path %>
      </li>
      <%# Logout%>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </li>

    <%# If Logged Out %>
    <% else %>
      <li>
        <%= link_to 'Login/Register', new_user_session_path %>
      </li>
    <% end %>

    <%# Search Bar %>
    <li class="search-bar">
      <%= form_tag '/search', method: :get do %>
        <%= text_field_tag :term, params[:term], placeholder: 'Search for Friends' %>
        <%# submit_tag 'Search' %>
      <% end %>
    </li>
  </ul>
</nav>