<nav>
  <ul class="flex space-around">

    <%# If Logged In%>
    <% if user_signed_in? %>
      <%# Profile %>
      <li class="profile-btn">
        <% if current_user.image.url %>
          <%= link_to cl_image_tag(current_user.image, class: 'small-profile-pic'), '/profile', class: "flex no-hover" %>
        <% else %>
          <%= link_to image_tag('default-profile-pic.jpg', class: 'small-profile-pic'), '/profile', class: "flex no-hover" %>
        <% end %>
      </li>
      <%# Home %>
      <li>
        <%= link_to 'Home', '/' %>
      </li>
      <%# Wishlist %>
      <li>
        <%= link_to 'Wishlist', gifts_path %>
      </li>
      <%# Friends %>
      <li>
        <%= link_to 'Friends', friends_path %>
      </li>
      <%# Search Bar %>
      <li class="padding-h flex-2">
        <%= form_tag '/search', method: :get do %>
          <%= text_field_tag :term, params[:term], placeholder: 'Search for Friends' %>
          <%# submit_tag 'Search' %>
        <% end %>
      </li>
      <%# Logout%>
      <li class="logout-btn">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </li>

    <%# If Logged Out %>
    <% else %>
      <%# Home %>
      <li>
        <%= link_to 'Home', '/' %>
      </li>
      <li>
        <%= link_to 'Login/Register', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>